<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Interval1r" value="1000"/>
    <add key="Interval2r" value="200"/>
    <add key="IP" value="92.124.142.200"/>
    <add key="Ports" value="12345"/>
  </appSettings>
</configuration>